/* estilo.css */
h1 {
	font-family: 'UnifrakturCook', cursive;		
	font-size: 60px;
	color: #DC3D24;
	text-shadow: 0.5px 1.5px #ffffff;
}

h2, h3, h4, h5, h6 {
	font-family: 'Nosifer', cursive;
	background-color: #232B2B;
	color: #ffffff;
	text-align: center;
}

body {	
	font-family: 'Padauk', sans-serif;	
	font-size: 30px;
	color: #DC3D24;
	margin-top: 5px;
	margin-bottom: 15px;
}

.corpo {
	width: 960px;
	margin: auto;
}

a { color: #E3AE57; }

.redes-sociais li {display: inline-block; margin: 0 5px; }
.redes-sociais li a {display: inline-block; margin: 0 5px; }
.redes-sociais span { width: 48px; height: 48 px; background-repeat: no-repeat; overflow: hidden; text-indent: 700px; display: inline-block; }

.linkedin { background-image: url('../img/linkedin.png'); -webkit-filter: grayscale(100%); filter: grayscale(0%); }
.linkedin:hover { -webkit-filter: grayscale(0%); filter: grayscale(0%); } 
.github { background-image: url('../img/github.png'); -webkit-filter: grayscale(100%); filter: grayscale(0%); }
.facebook { background-image: url('../img/facebook.png'); -webkit-filter: grayscale(100%); filter: grayscale(0%); }
.devcard { background-image: url('../img/projetos.png'); -webkit-filter: grayscale(100%); filter: grayscale(0%); }

.projetos{ width: 700px; margin: 0 auto; text-align: left; }
.projetos li { margin-bottom: 7px; margin-top: 7px; padding-left: 24px; background-image: url('../img/projetos.png'); background-repeat: no-repeat; }

.projetos li:hover { color: #e35757 }

a:hover{color: #e35757}

.competencias ul {width: 700px; margin: 0 auto }
.competencias li {display: inline-block; width: 150px; padding: 8px; margin: 3px; }

.dev {background-color: #16a085; border: 2px solid #16a085;}
.dev:hover{background-color: #1abc9c;}

.engine{background-color: #27ae60 }

	

